<%= link_to 'Back', tools_path %>

<h3>投稿したアプリとレビュー</h3>

<% @reviews.each do |review| %>
<%= tool_name(review.tool_id).name %><br>
<%= review.review %><%= link_to '削除', "/reviews/#{review.id}", method: :delete %><br>
<% end %>
